  @import url('https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@500&family=Karma&family=League+Spartan:wght@200&family=Montserrat+Alternates:wght@400;600&family=Montserrat:wght@100;300&family=Poppins:wght@200;300&family=Raleway:ital,wght@0,200;0,500;1,100&family=Roboto:wght@300;400&family=Rubik&family=Sintony&family=Source+Code+Pro:wght@200&family=Source+Sans+3:wght@200&family=Yellowtail&display=swap');
.userList{
color: var(--light-dark, #343A40);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 142.857% */
}
.all{
    width: 90%;
    margin: 0 auto;
}
.btnAddNewUser{
    color: var(--primary-contrast, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
margin-right: 40px;
/* components/button-large */
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 173.333% */
letter-spacing: 0.46px;
text-transform: uppercase;
border-radius: 4px;
background: var(--primary-main, #2196F3);

/* elevation/2 */
box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    display: flex;
padding: 8px 22px;
flex-direction: row;
justify-content: center;
align-items: center;
}

.btnLight{
    display: flex;
padding: 9px 24px;
flex-direction: row;
color: rgba(0, 0, 0, 0.87);

/* components/button-medium */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */
letter-spacing: 0.4px;
text-transform: uppercase;
border-radius: 4px 0px 0px 4px;
border: 1px solid rgba(0, 0, 0, 0.12);
background: rgba(0, 0, 0, 0.08);
justify-content: center;
align-items: center;
}
.btnDark{
    display: flex;
    color: rgba(0, 0, 0, 0.60);
background-color: #FFF;
/* components/button-medium */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 171.429% */
letter-spacing: 0.4px;
text-transform: uppercase;
padding: 9px 24px;
flex-direction: row;
justify-content: center;
align-items: center;
}
.modeMore2{
    display: flex;
    height: 48px;
}
.inputSearch{
    color: var(--text-disabled, rgba(0, 0, 0, 0.38));
font-feature-settings: 'clig' off, 'liga' off;

/* components/input-text */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.15px;
}
table{
    border-collapse: collapse;
}
.table > th{
    
    text-align: center;
    color: var(--colors-text-texto-principal, #40464C);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
    align-items: center;
    gap: 7px;
}
tr{
    border-bottom: 1px solid #838383;
}
/* .table > thead> tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
   

} */
tr{
    /* background-color: #fefefe; */
}
.ava{
    width: 70px;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
.modalAll{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-self: stretch;
border: 1px solid rgb(190, 190, 190);
width: 200px;
position: fixed;
/* top: 1000px; */
z-index: -2;
right: 300px;
/* background-color: #FFF; */
}
.modalAll p{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}
.ggi{
    top: 280px;
    z-index: 1000;
}
.viewProfile{
/* display: flex; */
text-align: center;
width: 450px;
height: 1050px;
flex-direction: column;
align-items: center;
gap: 28px;
flex-shrink: 0;
}
.infoImg{
    width: 180px;
height: 180px;
flex-shrink: 0;
border-radius: 1000px;
}
.zindex{
    z-index: 1000;
}